<div class="m-1 mx-3 mx-auto">
  <p-tabView class="w-100" [(activeIndex)]="tabIndex">
    <p-tabPanel header="Páciensek">
      <p-card class="w-100">
        <app-patient-list
          (selectedPatient)="onModifyPatient($event)"
          (selectedUserId)="showUserSleepData($event)"
        ></app-patient-list>
      </p-card>
    </p-tabPanel>

    <p-tabPanel header="Új Páciens hozzáadása">
      <p-card class="w-100">
        <app-new-patient [selectedPatient]="selectedPatient"></app-new-patient>
      </p-card>
    </p-tabPanel>
    <p-tabPanel header="Alvási adatok" *ngIf="selectedPatientId !== undefined">
      <p-card class="w-100">
        <app-patient-sleep-data
          [selectedUserId]="selectedPatientId"
        ></app-patient-sleep-data>
      </p-card>
    </p-tabPanel>
  </p-tabView>

  <p-toast></p-toast>
  <p-confirmDialog #cd class="w-50">
    <ng-template pTemplate="header"> </ng-template>
    <ng-template pTemplate="footer">
      <button
        type="button"
        pButton
        icon="pi pi-times"
        label="Mégse"
        class="p-button-danger"
        (click)="cd.reject()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        label="igen"
        class="p-button-primary"
        (click)="cd.accept()"
      ></button>
    </ng-template>
  </p-confirmDialog>
</div>
