<div class="m-3">
  <p-tabView class="w-100" [(activeIndex)]="tabIndex">
    <p-tabPanel header="Doktorok">
      <p-card class="w-100">
       <app-doctors-table (selectedUser)="onModifyDr($event)"></app-doctors-table>
      </p-card>
    </p-tabPanel>

    <!-- Új orvos felvétele -->
    <p-tabPanel header="Új doktor hozzáadása">
      <p-card class="w-100">
        <app-new-doctor [selectedDr]="selectedDr" (needToRefresh)="refresh($event)"></app-new-doctor>
      </p-card>
    </p-tabPanel>
  </p-tabView>

  <p-toast></p-toast>
  <p-confirmDialog #cd class="w-50">
    <ng-template pTemplate="header"> </ng-template>
    <ng-template pTemplate="footer">
      <button
        type="button"
        pButton
        icon="pi pi-times"
        label="Mégse"
        class="p-button-danger"
        (click)="cd.reject()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        label="igen"
        class="p-button-primary"
        (click)="cd.accept()"
      ></button>
    </ng-template>
  </p-confirmDialog>
</div>
