<p-card class="m-auto mt-4 d-flex justify-content-center" header="Jelszó módosítás">
  <div [formGroup]="passwordForm" class="p-fluid grid">
    <div class="field col-12 mt-4">
      <span class="p-float-label">
        <p-password
          id="currentPassword"
          class="col-12"
          [feedback]="false"
          [toggleMask]="true"
          formControlName="oldPassword"
        ></p-password>
        <label for="currentPassword">Jelenlegi jelszó</label>
        <small *ngIf="f.oldPassword?.errors?.required" class="p-error block"
          >A mező kitöltése kötelező!</small
        >
      </span>
    </div>
    <div class="field col-12 my-4">
      <span class="p-float-label">
        <p-password
          id="newPassword"
          class="col-12"
          [toggleMask]="true"
          formControlName="newPassword"
        >
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2"></p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>A jelszó tartalmazzon legalább egy kisbetűt</li>
              <li>A jelszó tartalmazzon legalább egy nagybetűt</li>
              <li>A jelszó tartalmazzon legalább egy számot</li>
              <li>A jelszó hossza legyen legalább 8 karakter</li>
            </ul>
          </ng-template>
        </p-password>
        <label for="newPassword">Új jelszó</label>
        <small *ngIf="f.errors?.noSame" class="p-error block"
          >A két jelszó eltér egymástól!</small
        >
      </span>
    </div>

    <div class="field col-12 my-4">
      <span class="p-float-label">
        <p-password
          id="confirmPassword"
          class="col-12"
          [toggleMask]="true"
          formControlName="confirmPassword"
        ></p-password>
        <label for="confirmPassword">Jelszó megerősítése</label></span
      >
      <small *ngIf="f.errors?.notSame" class="p-error block"
        >A két jelszó eltér egymástól!</small
      >
    </div>
  </div>
<div class="d-flex justify-content-center">

  <button [disabled]="f.invalid" pButton (click)="onChange()">
    Jelszó módosítása
  </button>
</div>
</p-card>

<p-toast></p-toast>
